# OS and editor files
*.log
*.tmp
*.swp
.DS_Store

# Node dependencies
node_modules
src/node_modules

# Build outputs
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Git
.git
.gitignore

# Env files
.env
.env.local
