.search-form { 
  flex-grow: 1;
  max-width: 600px; 
  min-width: 200px;
  transition: width 0.3s ease;
}

.search-icon-inside {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: gray;
  pointer-events: none;
}

input.search-input-with-icon.form-control {
  padding-left: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 999px !important;
  min-height: 48px;
  background-color: rgb(234, 234, 234) !important;
}
