.list-group-item {
    border: none;
    font-size: small;
    background-color: rgb(242, 240, 240);;
}

.list-group-item:hover {
        background-color: rgb(214, 211, 211);
        cursor: pointer;
}

.row {
    width: 250px;
    height: 100px;

}

.badge {
    color: black;
    font-size: 12px;
}